/* ─────────── BASE & RESET ─────────── */
*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html{scroll-behavior:smooth}
body{font-family:var(--font-body);background:var(--bg);color:var(--text);transition:background .3s,color .3s;overflow-x:hidden}
h1,h2,h3,h4,h5{font-family:var(--font-head)}
a{text-decoration:none;color:inherit}
button{cursor:pointer;font-family:var(--font-body)}
img{max-width:100%}

::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-track{background:var(--bg2)}
::-webkit-scrollbar-thumb{background:var(--green);border-radius:99px}